:root{
    --main-darkGray: #5D5C61;
    --main-lightGray: #938E94;
    --main-lightBlue:#7395AE;
    --main-darkblue:#547A98;
    --main-beige:#B0A295;
    --main-darkestGray: #373D3F;
}

body {
    color: var(--main-darkestGray);
    font-family: 'Work Sans', sans-serif;
    /*  */
}

* {
    margin: 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}

#navbar-div{
    display: flex;
    justify-content: flex-end;


}

#navbar{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-lightGray);
    position: fixed;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.6);
    margin: 15px 0 0 0;
}

@media only screen and (max-width:808px){
   
   /* Temporary comment so that I can modify sizing for iphone and mobile*/
    /* #navbar{
        position: fixed;
        margin: 0;
        padding:0;
        width: 100%;
        height:50px;
        box-shadow: none;
        justify-content: center;
    } */

}

#navbar-list{
    list-style: none;
    display: flex;
    font-size: large;
}

.navbar-item{
    margin: 10px 15px 10px 15px;
    transition: .4s;
}

.navbar-item:hover{
    color: ivory;
}

.navbar-link{
    text-decoration: none;
}
#welcome-section{
    /* background-color: var(--main-lightBlue); */
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--main-lightBlue) 80%, var(--main-darkblue) 100%);
    text-align: center;
    padding: 50px;
}

#welcome-section-header{
    font-size: 60px;
    color: ivory;
    padding-top: 30vh;

}

#projects-section-header{
    color: ivory;
    background: var(--main-darkblue);
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding:0;
   
    
}

.w3-card{
    background-color: var(--main-lightGray);
    padding: 0;
    text-align: center;
    transition: 0.4s;
}

.w3-card:hover{
    box-shadow: 10px 10px 1px rgba(0,0,0,0.4);
}


.project-grid{ 
    background-color: var(--main-darkblue);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 30px 100px 30px 100px ;
    grid-gap: 25px;
}
    
#markdown-previewer1 { 
/* background-color: teal;  */
}
    
#random-quote-machine{ 
/* background-color: violet; */
}
    
#technical-documentation-page {
/* background-color: tomato;  */
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.project-title{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--main-lightGray);
    color: var(--main-darkestGray);
}

#contact{
    background-image: linear-gradient(to bottom, var(--main-darkblue), var(--main-beige));
    padding-top: 100px;
    min-height: 400px;
}
#contact-section-header{
    margin: 0;
    padding: 0;
    color: var(--main-darkestGray);
    text-align: center;
    font-size: 40px;

}
#contact-links{
    list-style: none;
    display: flex;
    justify-content: center;

}

.contact-item{
    margin: 10px;
    padding: 5px;
    font-size: 40px;
    transition: .4s;
}

.contact-item:hover{
    color: ivory;
}

#about-me{
    min-height: 500px;
    background-color: var(--main-beige);
}

footer{
    text-align: center;
    margin: 0;
    padding:0;
    background-color: var(--main-lightGray);
    color: var(--main-darkestGray);
}