body, html {
    height: 95%;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.App {
    padding-top: 20px;
}

/* --------------------------------------------------------------------------------- */

@keyframes pop-up {
    0% {
        transform: translateY(100%);
        visibility: visible;
    }
    90% {
        transform: translateY(-5%);
    }
    95% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}

@keyframes sundown {
    0% {
        transform: translateX(-100%);
        transform: translateY(-800%);
    }
    100% {
        visibility: visible;
        transform: translateX(0%);
        transform: translateY(0%);
    }
}

#home-container {
    position: absolute;
    top: 8vh;
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "rectangle1 rectangle2 trapez3 rectangle4 trapez5 rectangle6 rectangle7 rectangle8 rectangle9 trapez10 rectangle11";
}

#rectangle1 {
    grid-area: rectangle1;
    visibility: hidden;
    width: 1fr;
    height: 66%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease 0s 1 forwards;
}

#rectangle2 {
    grid-area: rectangle2;
    visibility: hidden;
    width: 1fr;
    height: 50%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .1s 1 forwards;
}

#trapez3 {
    grid-area: trapez3;
    visibility: hidden;
    border-bottom: 80vh solid rgb(102, 169, 185);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 1f;
    align-self: end;
    animation: pop-up 3.0s ease .2s 1 forwards;
}

#rectangle4 {
    grid-area: rectangle4;
    visibility: hidden;
    width: 1f;
    height: 54%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .3s 1 forwards;
}

#trapez5 {
    grid-area: trapez5;
    visibility: hidden;
    border-bottom: 65vh solid rgb(201, 201, 201);
    border-left: 25px solid rgb(201, 201, 201);
    border-right: 5px solid transparent;
    height: 0;
    width: 1f;
    align-self: end;
    animation: pop-up 3.0s ease .4s 1 forwards;
}

#rectangle6 {
    grid-area: rectangle6;
    visibility: hidden;
    width: 1f;
    height: 66%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .5s 1 forwards;
}

#rectangle7 {
    grid-area: rectangle7;
    visibility: hidden;
    width: 1f;
    height: 30%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .6s 1 forwards;
}

#rectangle8 {
    grid-area: rectangle8;
    visibility: hidden;
    width: 1f;
    height: 70%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .7s 1 forwards;
}

#rectangle9 {
    grid-area: rectangle9;
    visibility: hidden;
    width: 1f;
    height: 60%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .8s 1 forwards;
}

#rectangle10 {
    /* grid-area: trapez10;
    border-bottom: 100px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 1f;
    align-self: end; */
    grid-area: trapez10;
    visibility: hidden;
    margin: auto;
    width: 60%;
    height: 70%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    z-index: 2;
    animation: pop-up 3.0s ease .9s 1 forwards;
}

#rectangle12 {
    /* grid-area: trapez10;
    border-bottom: 100px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 1f;
    align-self: end; */
    grid-area: trapez10;
    visibility: hidden;
    width: 1f;
    height: 72%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease .9s 1 forwards;
}

#rectangle11 {
    grid-area: rectangle11;
    visibility: hidden;
    width: 1f;
    height: 58%;
    background-color: rgb(201, 201, 201);
    align-self: end;
    animation: pop-up 3.0s ease 1s 1 forwards;
}

#the-sun {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 215, 142);
    position: absolute;
    top: 20%;
    left: 75%;
    z-index: 1;
    animation: sundown 3.0s ease 4s 1 forwards;
    visibility: hidden;

}

/* #trapezoid-1 {
    border-bottom: 100px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
}

#rectangle-1 {
    width: 100px;
    height: 66%;
    background: red;
} */

/* --------------------------------------------------------------------------------- */

.page-div {
    padding: 50px;
    text-align: center;
    background-color: rgb(211, 211, 211, .7);
    /* background-image: linear-gradient(to bottom, rgb(211, 211, 211, .7),rgba(63, 48, 95, 0.767)) ; */
    /* VVVV----------- Photo by Markus Spiske on Unsplash ------------VVVVV */
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.9)),  url("./images/pagebackground.jpg"); */
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    color: white;
}

#top, #bottom, #left, #right {
    background: rgb(102, 169, 185);
    position: fixed;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 1vw;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 2vh;
}

#top {
    top: 6vh;
}

#bottom {
    bottom: 0;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.content {
    margin-top: 56px;
}

.hero-image {
    height: 94vh;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.9)), url("./images/Background.jpg"); */
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.info-card {
    padding: 10px;
    margin: 10px;
    color: black;
    min-width: 300px;
}

#school {
    /* background-image:  url("./images/AugustanaLogo.jpg"); */
    background-repeat: no-repeat;
    background-size: 100px;
    position: relative;
    background-position-x: right;
    background-position-y: bottom;
}

#skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills-card {
    margin: 20px;
    /* color: white; */
    border: none;
    /* background-color: transparent; */
    border-radius: 40px;
    text-align: center;
    min-width: 300px;
}

.project-card {
    margin: 10px;
    min-width: 250px;
}

.project-card-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(32, 36, 41);
}

.project-card-link:hover {
    text-decoration: none;
    color: rgb(32, 36, 41)
}

.subtitle-link {
    text-align: center;
    justify-content: center;
    line-height: normal;
    font-size: large;
    color: #6D757D;
    background-color: #F7F7F7;
    transition: .4s;
}

.subtitle-link:hover {
    text-decoration: none;
    color: #F7F7F7;
    background-color: #6D757D;
    border-radius: 0px 0px 2px 2px;
}

a:hover {
    text-decoration: none;
}

#form-button {
    border: none;
    outline: none;
    border-radius: 5px;
}

#contact-div {
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    justify-content: center;
    max-width: 800px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 50px;
    min-height: 80vh;
    text-align: center;
}

#contact-header {
    text-align: center;
}

#contact-links {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact-link {
    color: black;
    text-decoration: none;
}

#form-email {
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
}

#form-text {
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
}

#form-button {
    margin: 10px;
    border: none;
}

/* footer {
    color: white;
    font-size: smaller;
    text-align: center;
} */

#footer-link {
    color: rgba(0, 174, 255, 0.568);
}

@media only screen and (max-width: 785px) {
    .page-div {
        padding: 10px;
        padding-top: 50px;
        background-color: rgb(211, 211, 211, .7);
        background-image: none;
        background-position: center;
        background-size: cover;
        position: relative;
        min-height: 100vh;
        color: white;
    }
    #skills-card {
        padding: 0;
        margin: 0;
        min-width: fit-content;
        background: transparent;
        border-radius: none;
    }
}

@media only screen and (max-width: 550px) {
    .hero-image {
        background-image: linear-gradient( to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5)), url("./images/Background.jpg");
    }
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #form-email {
        font-size: small;
    }
    #form-text {
        font-size: smaller;
    }
}